*.suo
*.user

**/.vs/*
**/packages/*
**/node_modules/*

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

**/Gravical.Poker.Droid/*
**/Gravical.Poker.Game/*
**/Gravical.Poker.Game.Tests/*
**/Sandbox/*